.omniversepricing-notice{
                        padding:  !important;
                        font-size:  !important;
                        color: #fffb8b !important;
                        background: #005897 !important;
                    }