.omniversepricing-notice{
                        padding:  !important;
                        font-size:  !important;
                        color: #ffffff !important;
                        background: #b3a700 !important;
                    }