.omniversepricing-notice{
                        padding:  !important;
                        font-size: 20px !important;
                        font-weight: 600 !important;
                        color: #1ffd00 !important;
                        background: #919191 !important;
                    }